<% layout('./layouts/boilerplate') %>
    <form action="/hotels/<%=hotel.id%>?_method=DELETE" method="POST">
        <label for="button">Delete fr??</label>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
